@import url(main.css);

.title{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#logo{
    margin-top: 20px;
    background-color: pink;
    animation-name: logoAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: skewY(10deg);
}

@keyframes logoAnimation {
    0%   {background-color: white;}
    25%  {background-color: yellow;}
    50%  {background-color: green;}
    75%  {background-color: blue;}
    100% {background-color: white;}
}

aside.song{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.songCover{
    transition: width 2s;
}

.songCover:hover{
    width: 480px;
}